body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
}

#welcome, #about, #contact {
    padding: 20px;
    margin: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
}
#welcome h1 {
    color: #0066cc;
}
a {
    color: #ff4500;
    text-decoration: none;
}

